<section class="ListingDetail">
    <div class="container">
        <div class="row">
            <div class="col col-md-4">
                <div class="ListingDetail-thumbnail" *ngIf="detailData.poster_path && detailData.title">
                    <img src="{{ imageBasePath }}{{ detailData.poster_path }}" 
                    alt="Thumbnail of {{ detailData.title }}" />
                </div>
            </div>
            <div class="col col-md-6">
                <h1 class="ListingDetail-title" *ngIf="detailData.title">{{ detailData.title }}</h1>
                <p>Release date: {{ detailData.release_date | date: 'd MMMM y' }}</p>
                <div class="ListingDetail-rating" *ngIf="detailData.voter_average">
                    <p>{{ detailData.voter_average }}</p>
                </div>
            </div>
            <div class="col col-md-2">
                <!-- Add Favourite component -->
            </div>
        </div>
        <div class="row" *ngIf="detailData.overview">
            <div class="col">
                <div class="ListingDetail-description">
                    {{ detailData.overview }}
                </div>
            </div>
        </div>
    </div>
</section>