<section class="ListingDetail">
    <header>
        <div class="ListingDetail-thumbnail">
            <img src="" alt="Thumbnail of ..." />
        </div>
        <div class="ListingDetail-meta">
            <h1 class="ListingDetail-title">title</h1>
            <p>Release date: date</p>
            <div class="ListingDetail-rating">
                
            </div>
        </div>
        <div class="ListingDetail-favourite">

        </div>
    </header>
    <div class="ListingDetail-description">

    </div>
</section>