<div class="ListingDashboard">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="ListingDashboard-wrapper">
                    <div class="ListingDashboard-item Card" *ngFor="let item of listing">
                        <a class="ListingDashboard-link" routerLink="/detail/{{ item.id }}">
                            <div class="ListingDashboard-thumbnail" *ngIf="item.poster_path && item.title">
                                <img src="{{ imageBasePath }}{{ item.poster_path }}" alt="Thumbnail for {{ item.title }}" />
                            </div>
                            <h3 class="ListingDashboard-title" *ngIf="item.title">{{ item.title }}</h3>
                            <!-- Add favourite component -->
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
